*{
    margin: 0px;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.square{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(pink,blue);
    transition: transform 4000ms;
}